# *******************************************************************************
# Copyright (c) 2025 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Apache License Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0
#
# SPDX-License-Identifier: Apache-2.0
# *******************************************************************************

common --registry=https://raw.githubusercontent.com/eclipse-score/bazel_registry/main/
common --registry=https://bcr.bazel.build

# Build stamping for version info
build --workspace_status_command=$(pwd)/bazel_stamp_vars.sh

build:_common --@score_baselibs//score/mw/log/flags:KRemote_Logging=False
build:_common --@score_baselibs//score/json:base_library=nlohmann
build:_common --@score_baselibs//score/memory/shared/flags:use_typedshmd=False
# build:_common --@score_communication//score/mw/com/flags:tracing_library=stub
build:_common --@score_communication//score/mw/com/flags:tracing_library=@score_baselibs//score/analysis/tracing/generic_trace_library/stub_implementation
build:_common --cxxopt=-Wno-error=mismatched-new-delete
build:_common --cxxopt=-Wno-error=deprecated-declarations

# Host platform build configuration
build:host --config=_common

build:x86_64-qnx --config=_common
build:x86_64-qnx --noexperimental_merged_skyframe_analysis_execution
build:x86_64-qnx --incompatible_enable_cc_toolchain_resolution
build:x86_64-qnx --incompatible_strict_action_env
build:x86_64-qnx --platforms=@score_bazel_platforms//:x86_64-qnx
build:x86_64-qnx --extra_toolchains=@toolchains_qnx_qcc//:qcc_x86_64
